<html ng-app="calculatorModule">
<head>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <title>Calculator App</title>
</head>
<body>
<h1>Calculator App</h1>
<div ng-controller="calculatorCtrlr as ctrl">
    <input type="text" ng-model="ctrl.input1"></input>
    <span ng-bind="ctrl.selectedOperation"></span>
    <input type="text" ng-model="ctrl.input2"></input>
    <button ng-click="ctrl.calculateResult()">=</button>
    <span ng-bind="ctrl.result"></span>
    <p>
        Choose Operation:
        <button ng-click="ctrl.buttonClicked('+')">+</button>
        <button ng-click="ctrl.buttonClicked('-')">-</button>
        <button ng-click="ctrl.buttonClicked('*')">*</button>
        <button ng-click="ctrl.buttonClicked('/')">/</button>
    </p>

</div>
</body>
</html>